@font-face
	src url(../fonts/Open_Sans/OpenSans-Regular.ttf)
	font-family 'sans'
@font-face
	src url(../fonts/Open_Sans/OpenSans-Light.ttf)
	font-family 'sans-light'
@font-face
	src url(../fonts/Poppins/Poppins-Black.ttf)
	font-family 'poppins-black'
@font-face
	src url(../fonts/Poppins/Poppins-Black.ttf)
	font-family 'poppins-black'
@font-face
	src url(../fonts/Poppins/Poppins-SemiBold.ttf)
	font-family 'poppins-semibold'
@font-face
	src url(../fonts/Poppins/Poppins-Regular.ttf)
	font-family 'poppins-regular'
@font-face
	src url(../fonts/Poppins/Poppins-Light.ttf)
	font-family 'poppins-light'
@font-face
	src url(../fonts/Poppins/Poppins-Medium.ttf)
	font-family 'poppins-medium'
*
	scroll-behavior: smooth
h2
	font-family 'Poppins', sans-serif
	font-family 'open sans', sans-serif
p
	color var(--c-text)
	line-height 1.9em
section
	transition all 5s
	width 100%
	padding 80px 0
	&:nth-child(odd)
		background-color #F7F7F7
body
	font-family poppins-regular