.footer
	background-color #222
	color #fff
	text-align center
	font-family sans-light
	font-size 15px
	letter-spacing 2px
	line-height 1.5
	padding 10px 0
	&__copy
		border-top 1px solid #ccc
		display block
		padding 10px