.header
	display flex
	padding 20px 10px
	max-width 1200px
	margin auto
	justify-content space-between
	align-items center
	position absolute
	left 50%
	transform translate(-50%)
	width 100%
	z-index 99
	&__logo
		// background-color yellow
		color #fff
		text-transform uppercase
		font-family poppins-semibold
		font-size 24px
		@media screen and (max-width 768px)
			font-size 18px
	&__menu
		display flex
		justify-content space-around
		@media screen and (max-width 768px)
			// display none
			display block
			position fixed
			background-color rgba(#212529,.95)
			right 0
			top 0
			z-index 99999
			height 100vh
			width 200px
			padding 20px 10px
		&__link
			display block
			padding 15px 20px
			color #fff
			font-size 15px
			// text-shadow 1px 1px 1px #222
	&__button
		background-color var(--c-primary)
		border-radius 8px
		&-menu
			display none
			@media screen and (max-width 768px)
				display block
				color var(--c-white)
				font-size 24px