.subtitle
	text-align center
	font-size 14px
	font-family poppins-semibold
	letter-spacing 2px
	color var(--c-dark)
	width 100%
.title
	width 100%
	font-size 40px
	font-family poppins-semibold
	text-align center
	letter-spacing 2px
	color var(--c-dark)
	margin 10px
	@media screen and (max-width 768px)
		font-size 23px