.card
	padding 10px
	&__number
		background-color rgba(steelblue,.3)
		padding 10px
		border-radius 50%
		width 50px
		height 50px
		display flex
		align-items center
		justify-content center
		color blue
		font-weight bold
	&__title
		font-family poppins-semibold
		letter-spacing 2px
		padding 10px 0
		font-size 18px
	&__text
		font-family sans
		letter-spacing 2px
		line-height 1.5
		font-size 16px