.client
	background-color var(--c-primary)
	display flex
	padding 10px 20px
	align-items center
	@media screen and (max-width 768px)
		flex-wrap wrap
		padding 40px 10px
		text-align center
	&__img
		flex-basis 350px
		text-align center
		img
			border 6px solid #fff
			border-radius 50%
			display inline-block
			width 140px
			height 140px
		@media screen and (max-width 768px)
			flex-basis 100%
	&__content
		flex auto
		padding 10px 20px
	&__text
		color var(--c-white)
		font-family poppins-light
	&__name
		color #000
		font-family poppins-semibold
		margin-top 16px
		font-size 18px