$c-primary = hsla(260,99,36,.7)
body
	background-color #f1f1f1
.adm-nav
	// background-color #F3F4F8
	background linear-gradient(#f3f4f8,#ccc)
	box-shadow 2px 2px 2px #eee
	font-family Roboto
	height 100vh
	overflow-Y auto
	padding 20px 15px
	width: 250px
	&__title
		color rgba(0,0,0,.4)
		padding 15px 0
		font-size 14px
		font-weight bold
		text-transform uppercase
	&__item
		&.active
			border-left 3px solid $c-primary
			background-color #fff
			border-radius 2px 10px 10px 2px
			a
				color $c-primary
	&__link
		align-items center
		color rgba(#000,.6)
		display flex
		font-size 13px
		justify-content space-between
		padding 15px 15px
		width 100%
		transition background-color .1s
		border-radius 10px
		margin 2px 0
		span:first-child
			font-size 16px
			text-align center
			width: 20px
		span:nth-child(2)
			flex auto
			padding 0 10px
		span:nth-child(3)
			text-align center
			width: 20px
		&:hover
			background-color #fff
			text-decoration none
		&.active
			border-left: 2px solid blue
			color blue
		&-home
			padding 20px 0
			display inline-block
			color $c-primary
			font-weight bold
			text-transform uppercase
			display block
			&:hover
				text-decoration none
			span:first-child
				margin-right 10px
		&.sub
			&:hover
				.circle
					background-color $c-primary
.adm-sub-nav
	display none
	&.active
		display block
.circle
	width 15px
	height 15px
	border-radius 50%
	border .5px solid $c-primary
	transition background-color .2s