$c-primary = hsla(260,99,36,.7)
body
	background-color #f1f1f1
.header
	// background-color green
	display flex
	padding 10px
	max-width 1300px
	margin auto
	&__logo
		flex-basis 200px
		// background-color yellow
	&__menu
		// background-color red
		display flex
		flex auto
		justify-content space-around
.container
	max-width 1300px
	margin auto